.App-header {
    background-color: #00A884;
    position: relative;
    width: 100%;
    height: 17vh;
    z-index: 1;
  }

.App-body {
    background-color: #eae6df;
    position: relative;
    height: 83vh;
    overflow: hidden;
    z-index: 1;
}